body{
    padding: 0;
    margin: 0;
  font-family: "Helvetica neue",Helvetica,Arial,Sans-serif!important;
    color: #101010;
    background-color: #f4f7f6;
}
input:focus,.btn:focus{outline:0;
}
button:focus,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    outline: none!important;
    box-shadow: none!important;
    background-color: transparent!important;
}
h4,.smalltext{
    color: #777!important;
}
label{
    font-weight: normal!important;
    margin-bottom: 0!important;
}
a:hover{
    text-decoration: none!important;
}
.mainbody {
 padding: 32px 0;
}
.index .navbar-right li,.welcomeheader .navbar-right .right{
    margin-right: 16px;
    padding-top:17px;
}
.welcomeheader .navbar-right .iconright{
    bottom: 7px;
    right: 0px;
}
.navbar-right input{
   height: 36px!important;
}
.navbar{
    min-height: 56px!important;
}
.content{
    margin-top: 40px;
}
.carousel-control.right,.carousel-control.left{
    background-image: none!important;
}
.carousel{
    box-shadow: 0 2px 2px #ccc;
}
 .carousel-indicators{
    left: 90%!important;
}
 .carousel-indicators .one{
    background-color: #f11!important;
}
.carousel-indicators .two{
    background-color: #4CAF50!important;
}
.carousel-indicators .three{
    background-color: #0091EA !important;
}
.imagecontent{
    height:234px!important;
    width: 235px!important;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}
.box .caption{
    background-color: #fff;
/*    padding: 20px;*/
}
.event{
    border-top: 2px solid #E91E63; 
}
.event1{
    border-bottom: 1px solid #777;
}

.event .smalltext,.event1 .smalltext{
    font-size: 15px;
    padding: 10px 0;
}
.event1{
    margin: 10px 0;
}
.p0{
    padding: 0!important;
}
.flex,.flex1{
    margin: 8px 8px 0 0;
}
.flex a.bttn {
  color: #4DB6AC;
    cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
.flex a.bttn:hover,.flex1 a.bttn:hover {
  color: #FFF;
}
.flex a.bttn:focus,.flex1 a.bttn:focus {
  color: #FFF;
}
.flex .bttn {
  width: 270px;
 padding: 8px;
  border: 2px solid #4DB6AC;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.1);
}
.flex .bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #4DB6AC;
  z-index: -2;
}
.flex .bttn:hover:before,.flex1 .bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.flex .bttn:focus:before,.flex1 .bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.flex1 a.bttn {
  color: #FF3D00;
    cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
.flex1 .bttn {
  width: 270px;
 padding: 8px;
  border: 2px solid #FF3D00;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.1);
}
.flex1 .bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF3D00;
  z-index: -2;
}
.footer{
    margin: 20px 0 0;
    background-color: rgba(0,0,0,.88);
    color: #fff;
    padding: 20px 0;
     color: #999;
 margin-top: 27%;
}
.footer li{
   list-style: none;
    display: inline;
}
.user{
 background-color: transparent;
}
.searchicon{
    position: absolute;
    top: 17px;
    right: 80px;
}
.arrowicon{
    position: relative;
    top: 8px;
}
/*
.welcomeheader .navbar-right{
  margin-top: 4px;
}
*/
.welcomeheader .badge{
    background-color: #FFC107;
    position: relative;
  bottom: 30px;
    left: 14px;
    color: #000!important;
    vertical-align: super!important;
}
.iconright .dropdown-menu{
    width: 225px!important;
   padding: 15px 0 15px 3px;
}
.headleft button{
    background-color: transparent!important;
    margin-top: 15px;
    color: #212121;
}
.headleft .dropdown-menu{
    min-width: 780px!important;
    padding: 20px 22px 15px 30px!important;
    box-shadow: -5px 9px 22px rgba(0,0,0,.175)!important;
}
.headleft .dropdown-menu a{
    padding: 2px 0;
}
.headleft .secondlist{
    padding: 10px 0 1px 0;
}
.headleft .sub-group-list a{
    font-size: 13.8px!important;
}
.headleft .sub-group-list{
    padding: 0!important;
}
.searchbar{
    margin-top: 15px;
    border-radius: 4px;
    width: 560px;
    height: 28px;
    margin-left: 33px;
    border: 1px solid #ccc;
    padding: 0 0 0 10px;
}
::-webkit-input-placeholder { /* Chrome */
   color: #757575!important;
    
}

.black{
   color: #212121!important; 
}
.userbox{
    background-color: #f8f8f8;
    padding: 14px 0;
    margin: 14px 0 0 0;
}.menutopboxcolor{
   width: 8px;
    height: 8px;
    background-color: #212121;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 35% 0 0% 0;
}
.box{
    border: 1px solid #ccc;
}
.headpink{
    color: #EC407A!important;
}
.tealbox{
    background-color: #4DB6AC;
        color: #fff;
    padding: 15px;
}
.capter{
    padding: 15px;
}
.capter:hover{
    border-top: 1px solid #EC407A;
    color: #EC407A;
    padding: 15px;
}
#panel1, #flip1,#panel2, #flip2,#panel3, #flip3 {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-top: 1px solid #ccc;
}

#panel1,#panel2,#panel3 {
    padding: 8px;
    display: none;
    text-align: justify;
}
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  text-align: center;
 min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}
/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
/*Checkbox*/
.checkbox {
  padding: 10px 20px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.checkbox label {
  cursor: pointer;
  padding-left: 0;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
}
.checkbox .checkbox-material:before {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 4px;
  width: 4px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
}
.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}
.checkbox .checkbox-material .check:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  margin-top: -4px;
  margin-left: 6px;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards ease-out;
          animation: checkbox-off 0.3s forwards ease-out;
}
.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
  opacity: 0.2;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards ease-out;
          animation: checkbox-on 0.3s forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material:before {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
.checkbox input[type=checkbox][disabled] + .circle {
  opacity: 0.2;
}
.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
  background-color: rgba(0, 0, 0, 0.84);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.coloured .checkbox-material .check {
  color: #303F9F;
}
.coloured .checkbox-material:before {
opacity: 0.2
}
.coloured input[type=checkbox]:checked + .checkbox-material .check {
  color: #303F9F;
}

@-webkit-keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-webkit-keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@-webkit-keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@-webkit-keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
/*Form textfield gap*/

.applyTA .form-control{
    margin: 0px 0 6px;
} 
/*datatable*/
#ex-datatables-basic_wrapper {
	padding: 20px;
	background-color: #FFFFFF;
}
/*welcomePAGE*/
.welcometop{
    width: 390px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.welcomeheader .dropper{
    min-width: 200px;
}
.welcomeheader .dropper li{
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.inputsearch{
  width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;  
}
.radio{
    align-items: center;
}
.welcome .table>tbody>tr>td{
    padding: 4px!important;
}

#buttons a {
  color: #444;
  background: #fff;
  border: 2px solid #444;
  border-radius: 5px;
  padding: 5px 10px;
}
#tabs a {
  color: #fff;
  background: #0090ad;
  border-radius: 6px 6px 0 0;
  padding: 8px 15px;
  margin: 0 2px;
}
#tabs a.active {
  background: #2c4fad;
}
.fundtatusbig{
    height: 240px;
    overflow-y: scroll;
}
.fundtatussmall{
   height: 200px;
    overflow-y: scroll; 
}
/*modalbox*/
.modalbutton:hover{
   color: cadetblue!important; 
}
.formtrack .dropdown select {
  width:100%;
  margin:0;
  background:none;
  border: 1px solid transparent;
  outline: none;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  line-height:1.3;
}

.formtrack .dropdown::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 8px;
  top: 50%;
  right: 1em;
  margin-top:-4px;
  z-index: 2;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events:none;
}

.formtrack body:last-child .dropdown::after, x:-moz-any-link {
  display: none;
}
.formtrack body:last-child .dropdown select, x:-moz-any-link {
  padding-right: .8em;
}

_::-moz-progress-bar,.formtrack  body:last-child .dropdown {
  overflow: hidden;
}
_::-moz-progress-bar,.formtrack  body:last-child .dropdown:after {
  display: block;
}
_::-moz-progress-bar,.formtrack  body:last-child .dropdown select {
  /* increase padding to make room for menu icon */
  padding-right: 1.9em;
  /* `window` appearance with these text-indent and text-overflow values will hide the arrow FF up to v30 */
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  /* for FF 30+ on Windows 8, we need to make the select a bit longer to hide the native arrow */
  width: 110%;
}
_::-moz-progress-bar,.formtrack  body:last-child .dropdown select:focus {
  outline: 2px solid rgba(180,222,250, .7);
}
x:-o-prefocus,.formtrack  .dropdown::after {
  display:none;
}
.colors {
 color: #000;
  display: none;
}
.Approved .dropdown-menu{
    width: 320px!important;
}
.searchdrop .dropdown-menu{
   width: 650px!important;
    padding: 8px!important;
    left: -565px!important;
    /* bottom: 400px; */
    top: 8px;
    padding: 28px 12px!important;
    z-index: -9;
}
.searchbardropper{
    width: 281px;
    height: 28px;
    border: 1px solid #ccc;
border-radius: 4px;
}
.searchdrop select{
    z-index: 99999;
}
