body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	line-height: 1.7em;
	font-weight: 300;
	 color: #646464;
	background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
	color: #545454;
	font-weight: 600;
	line-height: 1.3em;
}
h2 {
	margin-top: 1.3em;
}
/*a {
    font-size: 18px;
    color: #0099cc;
    cursor: pointer;
    text-decoration: none;
}*/
a:link {
	font-size: 18px;
	text-decoration: none;
	color: #0099cc;
}
a:visited {
	font-size: 18px;
	color: #0099cc;
	text-decoration: none;
}
a:hover {
	font-size: 18px;
	color: #007399;
	text-decoration: none;
}
a:active {
	font-size: 18px;
	color: #0099cc;
	text-decoration: none;
}
p#testingP {
	margin-top: 10px;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-bottom: 10px;
	border-bottom: dashed 1px #AFAFAF;
	text-align: justify;
}
p.lhsstory {
	margin-top: 10px;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-bottom: 10px;
	
	
}
#testingCol {
	margin-top: 25px;
}
.testingCol1 {
	border-right: dashed 1px #AFAFAF;
	margin-bottom:70px;
	
}
.testingCol2 {
	padding-right: 0px;
}
.h5News {
	margin: 0px;
}

/*media query for device width of 991*/
@media only screen and (max-width: 991px) {
p#testingP {
	border-bottom: dashed 0px #AFAFAF;
}
#testingCol {
	margin-top: 0px;
}
.testingCol1 {
	border-left: dashed 0px #AFAFAF;
	padding-left: 0px;
}
.testingCol2 {
	padding-right: 1.5%;
}
.h5News {
	margin: 10px 0px;
}
}

@media only screen and (max-width: 767px) {
p#testingP {
	border-bottom: dashed 1px #AFAFAF;
}
}
/*Dikshita*/
.boxdesign{
   box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 4px 7px rgba(0,0,0,0.22);
    border-top: 3px solid #43D5C3;
    padding: 8px;
}
.topgap{
    margin-top: 30px;
}
.back-to-top {
  position: fixed;
  width: 64px;
  height: 64px;
  right: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #333;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: scale(0.5) translate3d(0, 50px, 0);
          transform: scale(0.5) translate3d(0, 50px, 0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: border-color 300ms ease-out, opacity 200ms ease-out, -webkit-transform 200ms ease-out;
  transition: border-color 300ms ease-out, opacity 200ms ease-out, -webkit-transform 200ms ease-out;
  transition: border-color 300ms ease-out, opacity 200ms ease-out, transform 200ms ease-out;
  transition: border-color 300ms ease-out, opacity 200ms ease-out, transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.back-to-top:hover {
  border-color: #868686;
}
.back-to-top:hover:before {
  -webkit-transform: translate3d(0, -2px, 0) rotate(-45deg);
          transform: translate3d(0, -2px, 0) rotate(-45deg);
}
.back-to-top:hover:after {
  -webkit-transform: translate3d(0, -2px, 0) rotate(45deg);
          transform: translate3d(0, -2px, 0) rotate(45deg);
}
.back-to-top:before, .back-to-top:after {
  display: block;
  content: "";
  position: absolute;
  top: 30px;
  width: 24px;
  border-top: 2px solid #868686;
  -webkit-transition: -webkit-transform 175ms ease-out;
  transition: -webkit-transform 175ms ease-out;
  transition: transform 175ms ease-out;
  transition: transform 175ms ease-out, -webkit-transform 175ms ease-out;
}
.back-to-top:before {
  left: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.back-to-top:after {
  left: 28px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.back-to-top.ks-appear {
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
}
.members{
    width: 40%;
}
